
@import url('./system.css');


body{
	background-color: var(--main) !important;
	font-family: 'Poppins', sans-serif !important;
	color: var(--main-color) !important;
	height: 100%;
}


/* HEADER */
header{
	height: 100px;
	width: 100%;
	padding: 30px 0 30px ;
	
	display: flex;
	justify-content: center;
}

.header__container{
	width: 85%;
	display: flex;
	justify-content: space-between;
}
.header__nav{
	display: flex;
	justify-content: space-between;
	gap: 0px 112px;
}
.header__nav>a{
	height: 100%;
	display: flex;
	align-items: center;

	color: var(--main-color);
	font-weight: 300;

	transition: color .6s;
}
.header__nav>a:hover {
	color: #cbc9c9;
}




/* LANDING */
.landing{
	background: linear-gradient(-158deg, #121212 -5.23%, rgba(130, 253, 113, 0.1), rgba(36, 121, 64, 0.00) 102%);
	height: 450px;
	width: 100%;
	margin-top: -10px;
}
.landing__titleMD{
	text-align: right;
	font-size: 76px;
	font-weight: 600;
	line-height: normal;

	background: var(--main-gradient);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
}
/* UPDATE */

.update{
	justify-content: center;
	align-items: center;
	display: flex;
	column-gap: 18px;
	margin-top: 65px;
}
.update>p{
	color: #D9D9D9;
	font-size: 32px;
	font-weight: 300;
	margin: 0;
	letter-spacing: 0.8px;
}
/* CONTENT */
.content{
	padding: 56px 116px 0;
	display: grid;
	row-gap: 86px;
}

/* STOCKS */



