@import url('./pulse.css');
@import url('./badge.css');
@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root {
	--main: #030304;
	--main-gradient: linear-gradient(90deg, #00CE2C 0.18%, #AEDF23 49.3%, #A3DC00 99.88%);
	--landing-back: linear-gradient(-158deg, #121212 -5.23%, rgba(130, 253, 113, 0.1), rgba(36, 121, 64, 0.00) 102%);;
	--main-color: #FFFFFF;
	--badge-back: #202025;
}
.dark{
	--main: white;
	--main-color: #030304;
	--badge-back: #ededed;
	--landing-back: #ededed;
}


::selection{
	background: none;
	color: #00CE2C;
}
::-webkit-scrollbar{
	background: none;
	width: 5px;
}
::-webkit-scrollbar-thumb{
	background-color: gray;
	width: 5px;
}